.container-jogo {
    display: flex;
    justify-content: center;
}

.black {
    background-color: black;
    width: 50%;
    height: 50%;
}

.desenhos {
    display: flex;
    justify-content: center;
}