.jogo-container-ranking{
    background-color: #000411;
    /* width: 40vw; */
    height: 100%;
}
.table-title-ranking {
    color: cornsilk;
    text-align: center;
}

.table-ranking-item {
    color: cornsilk;
}


@media (max-width: 576px) {
    table.xs-font-size {
        font-size: .7em;
    }
}