.jogo-container-form {
    background-color: #aeb7b3;
    width: 25vw;
    margin-top: 20px;
    margin-left: 35px;
    padding: 10px;
}   

.table-title-form-play {
    color: #000411;
    text-align: center;
}