.container-canvas {
    background-color: #000411;
    margin-top: 15px;
}

.canvas-main {
    background-color: brown;
    min-height: 400px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.canvas-header {
    height: 7vh;
    min-height: 50px;
    color: aliceblue;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 18px;
    padding: 15px;
}

.canvas-footer {
    /* padding: 10px; */
    height: auto;
    min-height: 50px;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    padding: 5px;
}


.selected {
    color: gold;
}

.div-input-letra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-letra{
    width: 30%;
    background-color: brown;
    border-width: 3px;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: aliceblue;
    font-weight: bold;
}

.input-letra:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.letra-que-aparece {
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
}

.pontilhado-palavra {
    text-align: center;
}
